@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CooperArabic-Regular';
  src: url('/fonts/CooperArabic-Regular.woff2') format('woff2'),
       url('/fonts/CooperArabic-Regular.woff') format('woff');

}

@font-face {
  font-family: "FFHekaya-Light";
  src: url("https://db.onlinewebfonts.com/t/5973df73839accca72bfd147b3cf95bc.eot");
  src: url("https://db.onlinewebfonts.com/t/5973df73839accca72bfd147b3cf95bc.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/5973df73839accca72bfd147b3cf95bc.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/5973df73839accca72bfd147b3cf95bc.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/5973df73839accca72bfd147b3cf95bc.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/5973df73839accca72bfd147b3cf95bc.svg#FFHekaya-Light")format("svg");
}
